<%- include('partials/header') -%>
  <h1>Home</h1>
  <p><%= eHomeContent %></p>
  <% ePosts.forEach((e) => { %>
    <h1><%= e.title %></h1>
    <p>
      <%= e.post.slice(0, 51) + ' ... ' %>
      <a href='/posts/<%=e.title%>'>Read More</a>
    </p>
  <% }); %>

<%- include('partials/footer') -%>